1. print out a short text of your introduction as below:

-----------------My introduction------------------
I am currently studying AI. My class is called OPA24.

raw data as a list:

["   i ", "AM ", "    CURRENTLY ", "TEACHING", "ai.   ", "mY", "   CLASS", "IS", "CALLED", "opa21."]

In [45]:
my_list = ["   i ", "AM ", "    CURRENTLY ", "TEACHING", "ai.   ", "mY", "   CLASS", "IS", "CALLED", "opa21."]

# strip blanc spaces, replace opa, swap upper & lower case of the elements
my_corrected_list = [element.strip().replace("opa21", "opa24").swapcase() for element in my_list]

# join elements with a blanc space between
my_sentence = " ".join(my_corrected_list)

# len to get the number of characters in the sentence
# print(len(my_sentence))

# print title surrounded with --- and centered. 50 should be 53 but assignement title layout is 3 chars short :)
title = "My introduction".center(50, "-")

print(title)

print(my_sentence)

-----------------My introduction------------------
I am currently teaching AI. My class is called OPA24.

2. Hire IT employee data
In a company Hire IT, there are these employees.

employeeID	name	department	salary
0	Alice	HR	31000
1	Bob	IT	41000
2	Charlie	HR	28000
  a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

  b) Extract the second record in this dataset.

  c) Extract all rows from this dataset and print it in this format

In [ ]:
roster = []